Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.28.0
    hooks:
      - id: commitizen
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types:
          - rust
      - id: clippy
        name: clippy
        entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
        language: system
        pass_filenames: false
        types:
          - rust
      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-features
        language: system
        pass_filenames: false
        types_or:
          - rust
          - markdown # For our README.md doc tests

feat(go): Scope expressions (#192)
  README.md
  src/scoping/langs/go.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_expressions.snap
Due: cargo-fmt, clippy, cargo-test

chore: Use taiki-e/install-action (again) for cargo-msrv
  .github/workflows/main.yml
Due: none

Msrv fix (#193)
  .github/workflows/main.yml
Due: none

chore: Update to Edition 2024 / Rust 1.85
  Cargo.toml
  build.rs
  src/actions.rs
  src/actions/german/driver.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/replace.rs
  src/actions/replace/variables.rs
  src/actions/symbols.rs
  src/find.rs
  src/lib.rs
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/tree_sitter_hcl/mod.rs
  src/scoping/literal.rs
  src/scoping/regex.rs
  src/scoping/view.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/properties/squeeze.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Update to Edition 2024 / Rust 1.85 (#194)
  Cargo.toml
  build.rs
  src/actions.rs
  src/actions/german/driver.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/replace.rs
  src/actions/replace/variables.rs
  src/actions/symbols.rs
  src/find.rs
  src/lib.rs
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/tree_sitter_hcl/mod.rs
  src/scoping/literal.rs
  src/scoping/regex.rs
  src/scoping/view.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/properties/squeeze.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Use re-exported `tree_sitter::StreamingIterator`
  src/scoping/langs.rs
Due: cargo-fmt, clippy, cargo-test

chore: Update tree-sitter 0.24.6 -> 0.25.3
  Cargo.lock
  Cargo.toml
Due: none

chore(ci): Remove third-party GitHub actions from sensitive environments
  .github/workflows/main.yml
Due: none

chore(lints): `allow` -> `expect` lints: fix where possible, remove where unused
  build.rs
  src/actions/german.rs
  src/actions/german/driver.rs
  src/actions/german/words.rs
  src/actions/replace/variables.rs
  src/actions/symbols.rs
  src/main.rs
  src/ranges.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/tree_sitter_hcl/mod.rs
  src/scoping/regex.rs
  src/scoping/view.rs
  tests/cli.rs
  tests/langs/rust/base.rs
  tests/langs/snapshots/r#mod__langs__base.rs_attribute.snap
  tests/langs/snapshots/r#mod__langs__base.rs_identifier.snap
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Remove `impl Scoper for Box<dyn Scoper>`
  src/main.rs
  src/scoping.rs
Due: cargo-fmt, clippy, cargo-test

docs(rust): Showcase `allow` -> `expect` lint level refactor
  README.md
Due: cargo-test

docs: Add quote from Real Python Podcast
  README.md
Due: cargo-test

chore(csharp): `expect` -> `?`
  src/scoping/langs/csharp.rs
Due: cargo-fmt, clippy, cargo-test

feat(language-scoping): "Dynamic" prepared queries
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/go.rs
  src/scoping/langs/rust.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_func_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.go_interface_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.go_struct_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.rs_enum_named_PubSuperSelf.snap
  tests/langs/snapshots/r#mod__langs__base.rs_enum_named_Test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_fn_named_pubsuperself.snap
  tests/langs/snapshots/r#mod__langs__base.rs_fn_named_test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_mod_par.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_LongerThan12.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_PubSuperSelf.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_Test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_trait_some.snap
  tests/snapshots/cli__tests__tree-sitter-invalid-regex-validated-at-parse-time.snap
  tests/snapshots/cli__tests__unsupported-named-entities-validated-at-parse-time.snap
Due: cargo-fmt, clippy, cargo-test

feat(language-scoping): "Dynamic" prepared queries (#196)
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/go.rs
  src/scoping/langs/rust.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_func_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.go_interface_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.go_struct_tTest.snap
  tests/langs/snapshots/r#mod__langs__base.rs_enum_named_PubSuperSelf.snap
  tests/langs/snapshots/r#mod__langs__base.rs_enum_named_Test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_fn_named_pubsuperself.snap
  tests/langs/snapshots/r#mod__langs__base.rs_fn_named_test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_mod_par.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_LongerThan12.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_PubSuperSelf.snap
  tests/langs/snapshots/r#mod__langs__base.rs_struct_named_Test.snap
  tests/langs/snapshots/r#mod__langs__base.rs_trait_some.snap
  tests/snapshots/cli__tests__tree-sitter-invalid-regex-validated-at-parse-time.snap
  tests/snapshots/cli__tests__unsupported-named-entities-validated-at-parse-time.snap
Due: cargo-fmt, clippy, cargo-test

fix: Clippy lints
  build.rs
  src/actions/german/driver.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/replace/variables.rs
  src/find.rs
  src/main.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

fix: Switch out deprecated method
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

feat(hcl): Scope `required_providers` (also named)
  README.md
  src/main.rs
  src/scoping/langs/hcl.rs
  tests/langs/hcl/base.tf
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.tf_comments.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-sources.snap
  tests/langs/snapshots/r#mod__langs__base.tf_locals-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_module-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_output-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_provider-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers-named-multiple.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers-named-single.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-types.snap
  tests/langs/snapshots/r#mod__langs__base.tf_strings.snap
  tests/langs/snapshots/r#mod__langs__base.tf_terraform-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variable-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variables.snap
Due: cargo-fmt, clippy, cargo-test

feat(hcl): Scope `required_providers` (also named) (#211)
  README.md
  src/main.rs
  src/scoping/langs/hcl.rs
  tests/langs/hcl/base.tf
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.tf_comments.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-sources.snap
  tests/langs/snapshots/r#mod__langs__base.tf_locals-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_module-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_output-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_provider-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers-named-multiple.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers-named-single.snap
  tests/langs/snapshots/r#mod__langs__base.tf_required_providers.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-types.snap
  tests/langs/snapshots/r#mod__langs__base.tf_strings.snap
  tests/langs/snapshots/r#mod__langs__base.tf_terraform-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variable-block.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variables.snap
Due: cargo-fmt, clippy, cargo-test

chore: Make if expression more linear
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

WIP: parseable output format
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(cli): Parseable output format (with auto-detection)
  README.md
  src/main.rs
  tests/readme.rs
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-linux.snap
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-macos.snap
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-windows.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__go-ignores-vendor-directory.snap
  tests/snapshots/cli__tests__go-search-files-linux.snap
  tests/snapshots/cli__tests__go-search-files-macos.snap
  tests/snapshots/cli__tests__go-search-files-windows.snap
  tests/snapshots/cli__tests__go-search.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-no-actions-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-outside-search-mode.snap
  tests/snapshots/cli__tests__python-multiple-scopes.snap
  tests/snapshots/cli__tests__python-search-files-linux.snap
  tests/snapshots/cli__tests__python-search-files-macos.snap
  tests/snapshots/cli__tests__python-search-files-windows.snap
  tests/snapshots/cli__tests__python-search-stdin-across-lines.snap
  tests/snapshots/cli__tests__python-search-stdin-and-files.snap
  tests/snapshots/cli__tests__python-search-stdin.snap
Due: cargo-fmt, clippy, cargo-test

chore: Gitignore Claude Code files
  .gitignore
Due: none

feat(cli): `stdin-detection` option
  .github/workflows/main.yml
  README.md
  src/main.rs
  tests/cli.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Remove used `ScoperBuildError`
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(nix): Set up flake
  flake.lock
  flake.nix
Due: none

feat(nix): Shell completions
  flake.nix
  result
Due: none

fix(publishing): Do not publish crap
  .gitignore
  Cargo.toml
  result
Due: none

docs: Nix Flake
  README.md
Due: cargo-test

fix(docs): Use `text` code block type
  README.md
Due: cargo-test

build(deps): Bump assert_cmd to 2.1.0
  Cargo.lock
  Cargo.toml
  tests/cli.rs
  tests/readme.rs
  tests/regression.rs
Due: cargo-fmt, clippy, cargo-test

chore: Fix lint
  src/scoping/literal.rs
Due: cargo-fmt, clippy, cargo-test

chore: Turn off Cargo dependabot
  .github/dependabot.yml
Due: none
