Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.28.0
    hooks:
      - id: commitizen
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types:
          - rust
      - id: clippy
        name: clippy
        entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
        language: system
        pass_filenames: false
        types:
          - rust
      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-features
        language: system
        pass_filenames: false
        types_or:
          - rust
          - markdown # For our README.md doc tests

feat(go): Scope labeled statements
  README.md
  src/scoping/langs/go.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_labeled.snap
Due: cargo-fmt, clippy, cargo-test

feat(go): Scope `goto` statements
  README.md
  src/scoping/langs/go.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_goto.snap
Due: cargo-fmt, clippy, cargo-test

chore(go): Fix function name casing
  tests/langs/go/base.go
  tests/langs/snapshots/r#mod__langs__base.go_free-func.snap
  tests/langs/snapshots/r#mod__langs__base.go_func.snap
Due: none

feat(go): Scope `func init()` definitions
  README.md
  src/scoping/langs/go.rs
  tests/langs/go/base.go
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_comments.snap
  tests/langs/snapshots/r#mod__langs__base.go_free-func.snap
  tests/langs/snapshots/r#mod__langs__base.go_func.snap
  tests/langs/snapshots/r#mod__langs__base.go_init-func.snap
  tests/langs/snapshots/r#mod__langs__base.go_type-alias.snap
  tests/langs/snapshots/r#mod__langs__base.go_type-def.snap
Due: cargo-fmt, clippy, cargo-test

docs: Fix wording
  README.md
Due: cargo-test

chore(cli): Pass CLI `args` all the way down
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(cli): `-j` aka `--join-language-scopes` flag
  README.md
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

chore(cli): Provide short options `-H`, `-G`
  README.md
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

chore(deps): `once_cell` -> `std::sync::LazyLock`
  Cargo.lock
  Cargo.toml
  src/actions/german/driver.rs
Due: cargo-fmt, clippy, cargo-test

chore(typescript): Improve sample code
  tests/langs/snapshots/r#mod__langs__base.ts_comments.snap
  tests/langs/snapshots/r#mod__langs__base.ts_imports.snap
  tests/langs/snapshots/r#mod__langs__base.ts_strings.snap
  tests/langs/typescript/base.ts
Due: none

feat(typescript): Scope `function` definitions (`async`, sync, or both)
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_async-function.snap
  tests/langs/snapshots/r#mod__langs__base.ts_function.snap
  tests/langs/snapshots/r#mod__langs__base.ts_sync-function.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `enum` definitions
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_enum.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `try`/`catch`/`finally` blocks
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_try-block.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope variable declarations
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_var_decl.snap
  tests/langs/typescript/base.ts
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `let`, `const`, `var` variable declarations
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_const.snap
  tests/langs/snapshots/r#mod__langs__base.ts_let.snap
  tests/langs/snapshots/r#mod__langs__base.ts_var.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `interface` definitions
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_interface.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `class` definitions
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_class.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope type parameters
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_type-params.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `type` alias declarations
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_type-alias.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope method definitions
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_method.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `constructor` method definitions
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_constructor.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `namespace` blocks
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_namespace.snap
Due: cargo-fmt, clippy, cargo-test

feat(typescript): Scope `export` blocks
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_export.snap
Due: cargo-fmt, clippy, cargo-test

chore(build): `exclude` benches/ from packaging
  Cargo.toml
Due: none

build(tree-sitter-hcl): Remove `git` dependency
  .github/workflows/main.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  NOTICE
  README.md
  build.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/tree_sitter_hcl/README.md
  src/scoping/langs/tree_sitter_hcl/mod.rs
Due: cargo-fmt, clippy, cargo-test

build(tree-sitter-hcl): Remove `git` dependency (#95)
  .github/workflows/main.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  NOTICE
  README.md
  build.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/tree_sitter_hcl/README.md
  src/scoping/langs/tree_sitter_hcl/mod.rs
Due: cargo-fmt, clippy, cargo-test

build(tree-sitter-hcl): Ignore C compiler warnings
  build.rs
Due: cargo-fmt, clippy, cargo-test

test(cli): Test interactions of `--only-matching` and `--line-numbers`
  tests/cli.rs
  tests/snapshots/cli__tests__line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-no-actions-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-baseline-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-outside-search-mode.snap
Due: cargo-fmt, clippy, cargo-test

chore: Move code closer to where it is used
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

docs(cli): Add TODO note for future refactor
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

chore(rustfmt): Set up and run `group_imports` and `imports_granularity`
  .pre-commit-config.yaml
  .vscode/settings.json
  build.rs
  rustfmt.toml
  src/actions/deletion/mod.rs
  src/actions/german/driver.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/lower/mod.rs
  src/actions/mod.rs
  src/actions/normalization/mod.rs
  src/actions/replace/mod.rs
  src/actions/replace/variables.rs
  src/actions/style/mod.rs
  src/actions/symbols/mod.rs
  src/actions/titlecase/mod.rs
  src/find/mod.rs
  src/lib.rs
  src/main.rs
  src/ranges/mod.rs
  src/scoping/dosfix.rs
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
  src/scoping/literal.rs
  src/scoping/regex.rs
  src/scoping/scope.rs
  src/scoping/view.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/properties/lower.rs
  tests/properties/ranges.rs
  tests/properties/squeeze.rs
  tests/properties/symbols.rs
  tests/properties/upper.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

ci(linting): Run fmt and clippy checks
  .github/workflows/main.yml
Due: none

docs(cli): Polish help output
  README.md
  src/main.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

fix(cli): Exit gracefully on broken pipe in search mode
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

fix(build): Vendor `tree-sitter-hcl` properly
  .github/workflows/main.yml
  .gitmodules
  Cargo.toml
  NOTICE
  build.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/.gitignore
  src/scoping/langs/tree_sitter_hcl/upstream-main/LICENSE
  src/scoping/langs/tree_sitter_hcl/upstream-main/Package.swift
  src/scoping/langs/tree_sitter_hcl/upstream-main/binding.gyp
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/node/binding.cc
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/node/index.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/rust/build.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/rust/lib.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/swift/TreeSitterHCL/hcl.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/package.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/grammar.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/node-types.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/parser.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/scanner.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/alloc.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/array.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/parser.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/make_grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/package.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/shell.nix
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/grammar.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/node-types.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/parser.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/scanner.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/alloc.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/array.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/parser.h
Due: cargo-fmt, clippy, cargo-test

fix(build): Vendor `tree-sitter-hcl` properly (#107)
  .github/workflows/main.yml
  .gitmodules
  Cargo.toml
  NOTICE
  build.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/.gitignore
  src/scoping/langs/tree_sitter_hcl/upstream-main/LICENSE
  src/scoping/langs/tree_sitter_hcl/upstream-main/Package.swift
  src/scoping/langs/tree_sitter_hcl/upstream-main/binding.gyp
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/node/binding.cc
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/node/index.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/rust/build.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/rust/lib.rs
  src/scoping/langs/tree_sitter_hcl/upstream-main/bindings/swift/TreeSitterHCL/hcl.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/package.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/grammar.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/node-types.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/parser.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/scanner.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/alloc.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/array.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/dialects/terraform/src/tree_sitter/parser.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/make_grammar.js
  src/scoping/langs/tree_sitter_hcl/upstream-main/package.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/shell.nix
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/grammar.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/node-types.json
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/parser.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/scanner.c
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/alloc.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/array.h
  src/scoping/langs/tree_sitter_hcl/upstream-main/src/tree_sitter/parser.h
Due: cargo-fmt, clippy, cargo-test

chore(github): Mark `tree-sitter-hcl` as vendored for linguist
  .gitattributes
Due: none

docs: Fix slight regression
  README.md
Due: cargo-test

docs(contributing): Update guidelines
  CONTRIBUTING.md
Due: cargo-test
