Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.28.0
    hooks:
      - id: commitizen
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types:
          - rust
      - id: clippy
        name: clippy
        entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
        language: system
        pass_filenames: false
        types:
          - rust
      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-features
        language: system
        pass_filenames: false
        types_or:
          - rust
          - markdown # For our README.md doc tests

Fix grammar
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Add doc test
  README.md
  docs/python_cond_query.scm
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Add logging when `QuerySourceOrPath` is a valid file path
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Fix fn name spelling
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Fix docs diff
  README.md
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Add logging
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(cli): Dry run
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  tests/cli.rs
  tests/snapshots/cli__tests__files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-windows.snap
Due: cargo-fmt, clippy, cargo-test

WIP
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

Use + extend search mode
  Cargo.lock
  Cargo.toml
  src/iterext.rs
  src/lib.rs
  src/main.rs
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
Due: cargo-fmt, clippy, cargo-test

Adjust all snapshots
  tests/snapshots/cli__tests__files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-windows.snap
Due: none

WIP: manuallydrop remove
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

WIP: clean up
  src/actions/style.rs
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

WIP: clean up more
  README.md
  src/iterext.rs
  src/main.rs
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

WIP: clean up more
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(cli): Dry run mode ( `--dry-run` flag) (#156)
  Cargo.lock
  README.md
  src/actions/style.rs
  src/iterext.rs
  src/lib.rs
  src/main.rs
  tests/cli.rs
  tests/snapshots/cli__tests__files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-windows.snap
Due: cargo-fmt, clippy, cargo-test

chore(cli): Base-line work for `--[lang]-query-file` to read tree-sitter (scm) query files (#144)
  README.md
  docs/python_cond_query.scm
  src/lib.rs
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/c.rs
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
Due: cargo-fmt, clippy, cargo-test

ci(debug): Print tool versions
  .github/workflows/main.yml
Due: none

fix(cli): Ignore (do not abort on) non-utf8 files when walking recursively
  src/main.rs
  tests/cli.rs
  tests/files/binary-data/in/invalid-utf8
  tests/files/binary-data/in/subdir/invalid-utf8
  tests/files/binary-data/in/subdir/valid-utf8
  tests/files/binary-data/out/invalid-utf8
  tests/files/binary-data/out/subdir/invalid-utf8
  tests/files/binary-data/out/subdir/valid-utf8
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-linux.snap
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-macos.snap
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-windows.snap
  tests/snapshots/cli__tests__binary-data-sorted-linux.snap
  tests/snapshots/cli__tests__binary-data-sorted-macos.snap
  tests/snapshots/cli__tests__binary-data-sorted-windows.snap
Due: cargo-fmt, clippy, cargo-test

test(logging): Verbose logging in (some) tests
  tests/cli.rs
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-macos.snap
  tests/snapshots/cli__tests__binary-data-sorted-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-macos.snap
Due: cargo-fmt, clippy, cargo-test

test(snapshots): Fix Linux + Windows snapshots
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-linux.snap
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-windows.snap
  tests/snapshots/cli__tests__binary-data-sorted-linux.snap
  tests/snapshots/cli__tests__binary-data-sorted-windows.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__files-inplace-python-linux.snap
  tests/snapshots/cli__tests__files-inplace-python-windows.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-linux.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-windows.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-linux.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-windows.snap
Due: none

docs(contributing): Mention known warts for development
  CONTRIBUTING.md
Due: cargo-test

build(lint): Allow `missing_unsafe_on_extern`
  Cargo.toml
Due: none

test(readme): Fix parsing (termination w/ zero space)
  CONTRIBUTING.md
  README.md
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

test(readme): Fix `alt` 21-tuple limitation
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

build(doc): Provide utility to update README.md `srgn --help` output
  CONTRIBUTING.md
  scripts/update-readme.py
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

test(readme): Improve parsing handling
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

Add `[lang]-query-file` arg
  README.md
  src/main.rs
  src/scoping/langs.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

Rm unused `--[lang]-query-file` args from `readme.rs`
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

Revert args changes
  README.md
Due: cargo-test

Add all `--[lang-query-file]` args to `readme.rs` parser
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

fix: update broken links in `README.md`
  README.md
Due: cargo-test

feat(cli): `--<LANG>-query-file` option for reading queries from files (#168)
  README.md
  src/main.rs
  src/scoping/langs.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

docs: Update broken links in `README.md` (#169)
  README.md
Due: cargo-test

docs(contributing): Mention library + binary wart
  CONTRIBUTING.md
Due: cargo-test

chore: Machine-readable output (for search mode)
  src/main.rs
  src/scoping/view.rs
  tests/snapshots/cli__tests__binary-data-sorted-dry-run-macos.snap
  tests/snapshots/cli__tests__files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__go-ignores-vendor-directory.snap
  tests/snapshots/cli__tests__go-search-files-macos.snap
  tests/snapshots/cli__tests__go-search.snap
  tests/snapshots/cli__tests__language-scoping-and-files-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__language-scoping-inplace-python-dry-run-macos.snap
  tests/snapshots/cli__tests__line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-no-actions-outside-search-mode.snap
  tests/snapshots/cli__tests__only-matching-and-line-numbers-outside-search-mode.snap
  tests/snapshots/cli__tests__python-multiple-scopes.snap
  tests/snapshots/cli__tests__python-search-files-macos.snap
  tests/snapshots/cli__tests__python-search-stdin-across-lines.snap
  tests/snapshots/cli__tests__python-search-stdin-and-files.snap
  tests/snapshots/cli__tests__python-search-stdin.snap
Due: cargo-fmt, clippy, cargo-test

test(readme): `FIX_README` - automatic fixing functionality
  CONTRIBUTING.md
  scripts/update-readme.py
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Add crate docs to integration tests
  tests/mod.rs
Due: cargo-fmt, clippy, cargo-test

chore: Fix 1.84 clippy lints
  src/find.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

feat(go): Scope expressions
  README.md
  src/scoping/langs/go.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_expressions.snap
Due: cargo-fmt, clippy, cargo-test
