Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace --all-features
  language: system
  pass_filenames: false

chore: Add cooldown to GitHub Actions dependabot
  .github/dependabot.yml
Due: none

fix(hcl): Custom queries use correct language
  src/scoping/langs/hcl.rs
  tests/langs/mod.rs
Due: cargo-fmt, clippy, cargo-test

fix(fmt): Run formatting
  src/scoping/regex.rs
Due: cargo-fmt, clippy, cargo-test

chore: Remove CodeCov
  .github/workflows/main.yml
  README.md
  codecov.yml
Due: cargo-test

chore(ci): Update release-please bot token setup
  .github/workflows/main.yml
Due: none

feat(json): Add JSON language support with 20 prepared queries
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/json.rs
  tests/langs/json/base.json
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.json_all_values.snap
  tests/langs/snapshots/r#mod__langs__base.json_array_elements.snap
  tests/langs/snapshots/r#mod__langs__base.json_arrays.snap
  tests/langs/snapshots/r#mod__langs__base.json_boolean_literals.snap
  tests/langs/snapshots/r#mod__langs__base.json_comments.snap
  tests/langs/snapshots/r#mod__langs__base.json_double_quoted_strings.snap
  tests/langs/snapshots/r#mod__langs__base.json_empty_objects.snap
  tests/langs/snapshots/r#mod__langs__base.json_float_numbers.snap
  tests/langs/snapshots/r#mod__langs__base.json_integer_numbers.snap
  tests/langs/snapshots/r#mod__langs__base.json_mixed_structures.snap
  tests/langs/snapshots/r#mod__langs__base.json_nested_arrays.snap
  tests/langs/snapshots/r#mod__langs__base.json_nested_objects.snap
  tests/langs/snapshots/r#mod__langs__base.json_null_values.snap
  tests/langs/snapshots/r#mod__langs__base.json_numbers.snap
  tests/langs/snapshots/r#mod__langs__base.json_object_key_value_pairs.snap
  tests/langs/snapshots/r#mod__langs__base.json_objects.snap
  tests/langs/snapshots/r#mod__langs__base.json_string_escape_sequences.snap
  tests/langs/snapshots/r#mod__langs__base.json_strings.snap
  tests/langs/snapshots/r#mod__langs__base.json_top_level_values.snap
Due: cargo-fmt, clippy, cargo-test

feat: add YAML language support
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/scoping/langs.rs
  src/scoping/langs/yaml.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.yaml_block_mapping.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_block_sequence.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_boolean_scalar.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_float_scalar.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_flow_mapping.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_flow_sequence.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_integer_scalar.snap
  tests/langs/snapshots/r#mod__langs__base.yaml_string_scalar.snap
  tests/langs/yaml/base.yaml
Due: cargo-fmt, clippy, cargo-test

Potential fix for pull request finding
  src/scoping/langs/yaml.rs
Due: cargo-fmt, clippy, cargo-test

Potential fix for pull request finding
  src/scoping/langs/json.rs
Due: cargo-fmt, clippy, cargo-test

chore: Fix minor clippy lints
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore: Fix Clippy lints
  src/actions/german/driver.rs
  src/main.rs
  src/scoping/scope.rs
Due: cargo-fmt, clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-test: any of: \.rs$, \.(md|markdown|mdown)$
