Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace --all-features
  language: system
  pass_filenames: false

test(brew): Introduce regression test for brew build process
  tests/regression.rs
Due: cargo-fmt, clippy, cargo-test

docs(demo): Showcase interactive use w/ shell completions
  README.md
Due: cargo-test

chore(lints): Address `significant_drop_in_scrutinee`
  src/main.rs
Due: cargo-fmt, clippy, cargo-test

feat(rust): Scope `unsafe` code
  README.md
  src/scoping/langs/rust.rs
  tests/langs/mod.rs
  tests/langs/rust/base.rs
  tests/langs/snapshots/r#mod__langs__base.rs_async-fn.snap
  tests/langs/snapshots/r#mod__langs__base.rs_comments.snap
  tests/langs/snapshots/r#mod__langs__base.rs_fn.snap
  tests/langs/snapshots/r#mod__langs__base.rs_identifier.snap
  tests/langs/snapshots/r#mod__langs__base.rs_impl-trait.snap
  tests/langs/snapshots/r#mod__langs__base.rs_impl.snap
  tests/langs/snapshots/r#mod__langs__base.rs_mod.snap
  tests/langs/snapshots/r#mod__langs__base.rs_pub-priv-fn.snap
  tests/langs/snapshots/r#mod__langs__base.rs_strings.snap
  tests/langs/snapshots/r#mod__langs__base.rs_trait.snap
  tests/langs/snapshots/r#mod__langs__base.rs_type-identifier.snap
  tests/langs/snapshots/r#mod__langs__base.rs_unsafe-fn.snap
  tests/langs/snapshots/r#mod__langs__base.rs_unsafe.snap
Due: cargo-fmt, clippy, cargo-test

feat(cli): Language shorthands (`--py` for `--python` etc.)
  README.md
  src/main.rs
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

docs: Polish
  README.md
Due: cargo-test

docs: Fix linebreak
  .markdownlintignore
  README.md
Due: cargo-test

docs(lib): Add output examples
  src/lib.rs
Due: cargo-fmt, clippy, cargo-test

ci: Fix checkout from forks for Cargo deps check
  .github/workflows/main.yml
Due: none

docs: Add `tree-sitter-grep` to similar tools
  README.md
Due: cargo-test

ci(test): Perform final sanity check of produced binary
  .github/workflows/main.yml
Due: none

feat(c): introduce C parser
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs/c.rs
  src/scoping/langs/mod.rs
  tests/langs/c/base.c
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.c_callexpr.snap
  tests/langs/snapshots/r#mod__langs__base.c_comments.snap
  tests/langs/snapshots/r#mod__langs__base.c_declaration.snap
  tests/langs/snapshots/r#mod__langs__base.c_do.snap
  tests/langs/snapshots/r#mod__langs__base.c_enum.snap
  tests/langs/snapshots/r#mod__langs__base.c_for.snap
  tests/langs/snapshots/r#mod__langs__base.c_function.snap
  tests/langs/snapshots/r#mod__langs__base.c_function_declaration.snap
  tests/langs/snapshots/r#mod__langs__base.c_function_definition.snap
  tests/langs/snapshots/r#mod__langs__base.c_identifier.snap
  tests/langs/snapshots/r#mod__langs__base.c_if.snap
  tests/langs/snapshots/r#mod__langs__base.c_includes.snap
  tests/langs/snapshots/r#mod__langs__base.c_strings.snap
  tests/langs/snapshots/r#mod__langs__base.c_struct.snap
  tests/langs/snapshots/r#mod__langs__base.c_switch.snap
  tests/langs/snapshots/r#mod__langs__base.c_typedefs.snap
  tests/langs/snapshots/r#mod__langs__base.c_union.snap
  tests/langs/snapshots/r#mod__langs__base.c_variable.snap
  tests/langs/snapshots/r#mod__langs__base.c_while.snap
Due: cargo-fmt, clippy, cargo-test

docs(usage): Interactive session GIF
  README.md
  docs/images/interactive-use-shell-completion.gif
Due: cargo-test

docs(contributing): Adding support for a new language
  CONTRIBUTING.md
Due: cargo-test

ci(build): Bump patch for minor pre major
  release-please-config.json
Due: none

docs(rust): Showcase `unsafe` code search
  README.md
Due: cargo-test

docs(c): Adjust wording
  README.md
Due: cargo-test

docs: Note on supported languages
  README.md
Due: cargo-test

feat: Scope Python identifiers
  README.md
  src/scoping/langs/python.rs
  tests/langs/mod.rs
  tests/langs/python/identifiers.py
  tests/langs/snapshots/r#mod__langs__base.py_identifiers.snap
  tests/langs/snapshots/r#mod__langs__base.py_variable_identifiers.snap
  tests/langs/snapshots/r#mod__langs__identifiers.py_identifiers.snap
Due: cargo-fmt, clippy, cargo-test

ci(cargo-msrv): Bump `cargo-msrv` to 0.16 (beta)
  .github/workflows/main.yml
Due: none

ci: WIP
  .github/workflows/main.yml
Due: none

ci(release-check): Fix final sanity check run in CI
  .github/workflows/main.yml
Due: none

test(regression): HackerNews comment
  tests/regression.rs
Due: cargo-fmt, clippy, cargo-test

ci(msrv): Punch through cache to fix command setup
  .github/workflows/main.yml
Due: none

Add proof of concept
  src/scoping/langs/rust.rs
Due: cargo-fmt, clippy, cargo-test

Move query file opening to main.rs
  src/lib.rs
  src/main.rs
  src/scoping/langs/c.rs
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
  tests/langs/mod.rs
Due: cargo-fmt, clippy, cargo-test

chore(lints): Remove removed lint
  Cargo.toml
Due: none

feat(cpp): introduce C++ parser
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs/cpp.rs
  src/scoping/langs/mod.rs
  tests/langs/cpp/base.cpp
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.cpp_call_expr.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_class.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_comments.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_declaration.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_do.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_enum.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_field_declaration.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_for.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_function.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_function_declaration.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_function_definition.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_ident.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_if.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_includes.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_lambda.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_namespace.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_strings.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_struct.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_switch.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_template.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_try.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_typedef.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_union.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_using_namespace.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_variable.snap
  tests/langs/snapshots/r#mod__langs__base.cpp_while.snap
Due: cargo-fmt, clippy, cargo-test

feat(typst): WIP
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/typst.rs
Due: cargo-fmt, clippy, cargo-test

added example document from typst.app
  tests/langs/typst/base.typ
Due: none

feat(typst): WIP: text, content
  README.md
  src/scoping/langs/typst.rs
Due: cargo-fmt, clippy, cargo-test

Replace `impl Deref for CodeQuery` with `impl Into`
  src/main.rs
  src/scoping/langs/mod.rs
Due: cargo-fmt, clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-test: any of: \.rs$, \.(md|markdown|mdown)$
