Repository alexpovel/srgn: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.28.0
    hooks:
      - id: commitizen
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types:
          - rust
      - id: clippy
        name: clippy
        entry: cargo clippy --workspace --all-targets --all-features -- --deny warnings
        language: system
        pass_filenames: false
        types:
          - rust
      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-features
        language: system
        pass_filenames: false
        types_or:
          - rust
          - markdown # For our README.md doc tests

ci: Perform `cargo publish --dry-run`
  .github/workflows/main.yml
Due: none

build(tree-sitter-hcl): Remove `git` dependency
  .github/workflows/main.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  build.rs
  src/lib.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/tree_sitter_hcl/README.md
  src/scoping/langs/tree_sitter_hcl/mod.rs
Due: cargo-fmt, clippy, cargo-test

test(language-scoping): Refactor tests for Python
  tests/cli.rs
  tests/langs/mod.rs
  tests/langs/python/base.py
  tests/langs/python/in/class.py
  tests/langs/python/in/comments-crlf.py
  tests/langs/python/in/comments-lf.py
  tests/langs/python/in/docstring.py
  tests/langs/python/in/function-calls.py
  tests/langs/python/in/function-names.py
  tests/langs/python/in/imports.py
  tests/langs/python/in/strings.py
  tests/langs/python/mod.rs
  tests/langs/python/out/class.py
  tests/langs/python/out/comments-crlf.py
  tests/langs/python/out/comments-lf.py
  tests/langs/python/out/docstring.py
  tests/langs/python/out/function-calls.py
  tests/langs/python/out/function-names.py
  tests/langs/python/out/imports.py
  tests/langs/python/out/strings.py
  tests/langs/snapshots/r#mod__langs__base.py_class.snap
  tests/langs/snapshots/r#mod__langs__base.py_comments.snap
  tests/langs/snapshots/r#mod__langs__base.py_docstrings.snap
  tests/langs/snapshots/r#mod__langs__base.py_function-calls.snap
  tests/langs/snapshots/r#mod__langs__base.py_function-names.snap
  tests/langs/snapshots/r#mod__langs__base.py_imports.snap
  tests/langs/snapshots/r#mod__langs__base.py_strings.snap
  tests/snapshots/cli__tests__python-search-files-linux.snap
  tests/snapshots/cli__tests__python-search-files-macos.snap
  tests/snapshots/cli__tests__python-search-files-windows.snap
  tests/snapshots/cli__tests__python-search-stdin-across-lines.snap
  tests/snapshots/cli__tests__python-search-stdin-and-files.snap
  tests/snapshots/cli__tests__python-search-stdin.snap
Due: cargo-fmt, clippy, cargo-test

ci: Disable publish dry-run
  .github/workflows/main.yml
Due: none

test(language-scoping): Refactor tests for Python (#96)
  tests/cli.rs
  tests/langs/mod.rs
  tests/langs/python/base.py
  tests/langs/python/in/class.py
  tests/langs/python/in/comments-crlf.py
  tests/langs/python/in/comments-lf.py
  tests/langs/python/in/docstring.py
  tests/langs/python/in/function-calls.py
  tests/langs/python/in/function-names.py
  tests/langs/python/in/imports.py
  tests/langs/python/in/strings.py
  tests/langs/python/mod.rs
  tests/langs/python/out/class.py
  tests/langs/python/out/comments-crlf.py
  tests/langs/python/out/comments-lf.py
  tests/langs/python/out/docstring.py
  tests/langs/python/out/function-calls.py
  tests/langs/python/out/function-names.py
  tests/langs/python/out/imports.py
  tests/langs/python/out/strings.py
  tests/langs/snapshots/r#mod__langs__base.py_class.snap
  tests/langs/snapshots/r#mod__langs__base.py_comments.snap
  tests/langs/snapshots/r#mod__langs__base.py_docstrings.snap
  tests/langs/snapshots/r#mod__langs__base.py_function-calls.snap
  tests/langs/snapshots/r#mod__langs__base.py_function-names.snap
  tests/langs/snapshots/r#mod__langs__base.py_imports.snap
  tests/langs/snapshots/r#mod__langs__base.py_strings.snap
  tests/snapshots/cli__tests__python-search-files-linux.snap
  tests/snapshots/cli__tests__python-search-files-macos.snap
  tests/snapshots/cli__tests__python-search-files-windows.snap
  tests/snapshots/cli__tests__python-search-stdin-across-lines.snap
  tests/snapshots/cli__tests__python-search-stdin-and-files.snap
  tests/snapshots/cli__tests__python-search-stdin.snap
Due: cargo-fmt, clippy, cargo-test

fix(python): Scoping docstrings and strings no longer includes quotes
  README.md
  src/scoping/langs/python.rs
  tests/langs/snapshots/r#mod__langs__base.py_docstrings.snap
  tests/langs/snapshots/r#mod__langs__base.py_strings.snap
Due: cargo-fmt, clippy, cargo-test

fix(logging): Logs display timestamps again
  Cargo.lock
  Cargo.toml
Due: none

test(typescript): Refactor to use snapshot-based system
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.ts_comments.snap
  tests/langs/snapshots/r#mod__langs__base.ts_imports.snap
  tests/langs/snapshots/r#mod__langs__base.ts_strings.snap
  tests/langs/typescript/base.ts
  tests/langs/typescript/in/comments.ts
  tests/langs/typescript/in/imports.ts
  tests/langs/typescript/in/strings.ts
  tests/langs/typescript/mod.rs
  tests/langs/typescript/out/comments.ts
  tests/langs/typescript/out/imports.ts
  tests/langs/typescript/out/strings.ts
Due: cargo-fmt, clippy, cargo-test

ci: `google-github-actions/` -> `googleapis/`
  .github/workflows/main.yml
Due: none

ci: Run binaries upload in dedicated `environment`
  .github/workflows/main.yml
Due: none

fix(typescript): Scoping strings no longer includes quotes
  README.md
  src/scoping/langs/typescript.rs
  tests/langs/snapshots/r#mod__langs__base.ts_strings.snap
Due: cargo-fmt, clippy, cargo-test

test(rust): Refactor to use snapshot-based system
  tests/langs/mod.rs
  tests/langs/rust/base.rs
  tests/langs/rust/in/comments.rs
  tests/langs/rust/in/doc-comments.rs
  tests/langs/rust/in/strings.rs
  tests/langs/rust/in/uses.rs
  tests/langs/rust/mod.rs
  tests/langs/rust/out/comments.rs
  tests/langs/rust/out/doc-comments.rs
  tests/langs/rust/out/strings.rs
  tests/langs/rust/out/uses.rs
  tests/langs/snapshots/r#mod__langs__base.rs_comments.snap
  tests/langs/snapshots/r#mod__langs__base.rs_doc-comments.snap
  tests/langs/snapshots/r#mod__langs__base.rs_strings.snap
  tests/langs/snapshots/r#mod__langs__base.rs_uses.snap
Due: cargo-fmt, clippy, cargo-test

fix(rust): `uses` scope only scopes things actually behind a `use`
  src/scoping/langs/rust.rs
  tests/langs/rust/base.rs
  tests/langs/snapshots/r#mod__langs__base.rs_comments.snap
  tests/langs/snapshots/r#mod__langs__base.rs_doc-comments.snap
  tests/langs/snapshots/r#mod__langs__base.rs_strings.snap
  tests/langs/snapshots/r#mod__langs__base.rs_uses.snap
Due: cargo-fmt, clippy, cargo-test

fix(rust): Scoping strings no longer includes quotes
  src/scoping/langs/rust.rs
  tests/langs/snapshots/r#mod__langs__base.rs_strings.snap
Due: cargo-fmt, clippy, cargo-test

fix(rust): `uses` scopes to its entire argument
  src/scoping/langs/rust.rs
  tests/langs/snapshots/r#mod__langs__base.rs_uses.snap
Due: cargo-fmt, clippy, cargo-test

test(hcl): Refactor to use snapshot-based system
  tests/langs/hcl/base.tf
  tests/langs/hcl/in/comments.tf
  tests/langs/hcl/in/data-names.tf
  tests/langs/hcl/in/data-sources.tf
  tests/langs/hcl/in/resource-names.tf
  tests/langs/hcl/in/resource-types.tf
  tests/langs/hcl/in/strings.tf
  tests/langs/hcl/in/variables.tf
  tests/langs/hcl/mod.rs
  tests/langs/hcl/out/comments.tf
  tests/langs/hcl/out/data-names.tf
  tests/langs/hcl/out/data-sources.tf
  tests/langs/hcl/out/resource-names.tf
  tests/langs/hcl/out/resource-types.tf
  tests/langs/hcl/out/strings.tf
  tests/langs/hcl/out/variables.tf
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.tf_comments.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-sources.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-types.snap
  tests/langs/snapshots/r#mod__langs__base.tf_strings.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variables.snap
Due: cargo-fmt, clippy, cargo-test

fix(hcl): Exclude `count` metavariable from {`resource`,`data`}-names
  src/scoping/langs/hcl.rs
  tests/langs/snapshots/r#mod__langs__base.tf_resource-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-types.snap
Due: cargo-fmt, clippy, cargo-test

fix(hcl): Scopes exclude quotes
  README.md
  src/scoping/langs/hcl.rs
  tests/langs/snapshots/r#mod__langs__base.tf_data-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_data-sources.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-names.snap
  tests/langs/snapshots/r#mod__langs__base.tf_resource-types.snap
  tests/langs/snapshots/r#mod__langs__base.tf_strings.snap
  tests/langs/snapshots/r#mod__langs__base.tf_variables.snap
Due: cargo-fmt, clippy, cargo-test

docs: Update introduction & short description
  Cargo.toml
  README.md
Due: cargo-test

docs: Mention simplicity in intro
  README.md
Due: cargo-test

docs: Similar tool `pss` by Eli Bendersky
  README.md
Due: cargo-test

test(go): Refactor to use snapshot-based system
  README.md
  tests/cli.rs
  tests/langs/go/base.go
  tests/langs/go/fizzbuzz.go
  tests/langs/go/in/comments.go
  tests/langs/go/in/imports.go
  tests/langs/go/in/strings.go
  tests/langs/go/in/struct-tags.go
  tests/langs/go/mod.rs
  tests/langs/go/out/comments.go
  tests/langs/go/out/imports.go
  tests/langs/go/out/strings.go
  tests/langs/go/out/struct-tags.go
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.go_comments.snap
  tests/langs/snapshots/r#mod__langs__base.go_imports.snap
  tests/langs/snapshots/r#mod__langs__base.go_strings.snap
  tests/langs/snapshots/r#mod__langs__base.go_struct-tags.snap
  tests/snapshots/cli__tests__go-replacement.snap
  tests/snapshots/cli__tests__go-search-files-linux.snap
  tests/snapshots/cli__tests__go-search-files-macos.snap
  tests/snapshots/cli__tests__go-search-files-windows.snap
  tests/snapshots/cli__tests__go-search.snap
Due: cargo-fmt, clippy, cargo-test

chore: Update to Rust 1.80, fix lints
  Cargo.toml
  src/actions/german/driver.rs
  src/scoping/view.rs
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

test(coverage): Simplify tarpaulin + codecov setup
  .github/workflows/main.yml
  Cargo.toml
  codecov.yml
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

test(coverage): Simplify pipeline further
  .github/workflows/main.yml
Due: none

test(coverage): Simplify tarpaulin + codecov setup (#98)
  .github/workflows/main.yml
  Cargo.toml
  codecov.yml
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

fix(go): String scoping no longer scopes parts of imports/field decl.
  src/scoping/langs/go.rs
  tests/langs/snapshots/r#mod__langs__base.go_strings.snap
Due: cargo-fmt, clippy, cargo-test

test(csharp): Refactor to use snapshot-based system
  tests/langs/csharp/base.cs
  tests/langs/csharp/in/comments.cs
  tests/langs/csharp/in/strings.cs
  tests/langs/csharp/in/usings.cs
  tests/langs/csharp/mod.rs
  tests/langs/csharp/out/comments.cs
  tests/langs/csharp/out/strings.cs
  tests/langs/csharp/out/usings.cs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.cs_comments.snap
  tests/langs/snapshots/r#mod__langs__base.cs_strings.snap
  tests/langs/snapshots/r#mod__langs__base.cs_usings.snap
Due: cargo-fmt, clippy, cargo-test

docs: Polish intro
  README.md
Due: cargo-test

test(cli): `--completions` option
  Cargo.lock
  Cargo.toml
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

chore(test): Format args onto lines
  tests/cli.rs
Due: cargo-fmt, clippy, cargo-test

chore(benchmarks): (Massively) simplify
  benches/bench-files.sh
Due: none

fix(language-scoping): Construct `TSQuery` only once
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
Due: cargo-fmt, clippy, cargo-test

chore(language-scoping): Blanket `impl Scoper` for all `LanguageScoper`
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
Due: cargo-fmt, clippy, cargo-test

chore(clippy): Move to `lints.clippy` table, enable & fix everything
  Cargo.toml
  README.md
  build.rs
  src/actions/german/driver.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/mod.rs
  src/actions/replace/variables.rs
  src/actions/style/mod.rs
  src/actions/symbols/inversion.rs
  src/actions/symbols/mod.rs
  src/find/mod.rs
  src/lib.rs
  src/main.rs
  src/scoping/langs/csharp.rs
  src/scoping/langs/go.rs
  src/scoping/langs/hcl.rs
  src/scoping/langs/mod.rs
  src/scoping/langs/python.rs
  src/scoping/langs/rust.rs
  src/scoping/langs/typescript.rs
  src/scoping/literal.rs
  src/scoping/regex.rs
  src/scoping/scope.rs
  src/scoping/view.rs
  tests/cli.rs
  tests/langs/mod.rs
  tests/properties/symbols.proptest-regressions
  tests/readme.rs
Due: cargo-fmt, clippy, cargo-test

chore(lints): Introduce `lints.rust` table, `warn` for all allow-by-default & fix
  Cargo.toml
  build.rs
  src/actions/german/machine.rs
  src/actions/german/words.rs
  src/actions/mod.rs
  src/actions/replace/mod.rs
  src/actions/replace/variables.rs
  src/main.rs
  src/ranges/mod.rs
  src/scoping/dosfix.rs
  src/scoping/literal.rs
  src/scoping/regex.rs
  src/scoping/scope.rs
  src/scoping/view.rs
Due: cargo-fmt, clippy, cargo-test

chore(lints): Remove old/renamed lints
  Cargo.toml
Due: none

feat(python): Scope function definitions (`def`)
  README.md
  src/scoping/langs/python.rs
  tests/langs/mod.rs
  tests/langs/snapshots/r#mod__langs__base.py_def.snap
Due: cargo-fmt, clippy, cargo-test
